body{
    background-color: lightpink;
    text-align: center;
}

h1{
    font-size: 10rem;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    background-image:url("titleimage.jpeg");
    background-size: contain;
    background-position: center; /* Keeps the image centered */
    background-attachment: fixed; /* Prevents movement on scroll */
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

#outer-cont{
    background: rgba(0,0,0,0.2);
    margin: auto;
    
}