body {
    background-image: url(field.jpg);
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 12rem;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    background-image:url("ball.jpg");
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

h2 {
    font-size: 8rem;
    margin-top: 0px;
    margin-bottom: 20px;
    color: black;
    text-shadow: 0 0 20px #00fffb, 0 0 40px #0081bc;
}

p{
    color: white;
}

#container{
    background: rgba(0,0,0,0.4);
    width: 50%;
    margin: auto;
    padding: 6rem 0 10rem 0;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkred;
    /* padding: 8px 20px;
    width: 16rem;
    height: 4rem;
    color: black;
    font-weight: 700;
    border- radius: 0;
    text-transform: uppercase;
    margin: 2rem;
    overflow: hidden;
    position: relative; */
}
#increment-btn::before, #decrease-btn::before{
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, #00fffc, transparent);
    transform: translateX(-100%);
    transition: 0.6s;
    position: absolute;
    
}
#increment-btn:hover, #decrease-btn:hover {
    background: transparent;
    box-shadow: 0 0 20px 5px #00fffc;
}


#save-btn {
    background: darkgreen;
}

#save-btn:hover, #clear-btn:hover, #home-btn:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 200px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    border-style: none;
}

#decrease-btn{
    background: darkblue
}

#clear-btn{
    color: black
}
#home-btn{
    background:transparent;
    border-style: solid;
    border-radius: 2;
    border-color: black;
}